docs/n8n-poem-chat-openai-simple.json
{
  "name": "Poem Chat Assistant (Simple, OpenAI Node)",
  "nodes": [
    {
      "id": "Webhook_Entry",
      "name": "Webhook (POST/OPTIONS)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "path": "poem-chat",
        "responseMode": "lastNode",
        "options": {
          "allowUnauthorizedCertificates": false
        }
      }
    },
    {
      "id": "IF_Options",
      "name": "Is OPTIONS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 180],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$method}}",
              "operation": "equals",
              "value2": "OPTIONS"
            }
          ]
        }
      }
    },
    {
      "id": "Respond_Options",
      "name": "Respond CORS (OPTIONS)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 120],
      "parameters": {
        "responseCode": 200,
        "responseData": "",
        "responseHeaders": {
          "entries": [
            { "name": "Access-Control-Allow-Origin", "value": "={{$headers.origin}}" },
            { "name": "Access-Control-Allow-Methods", "value": "GET,POST,OPTIONS" },
            { "name": "Access-Control-Allow-Headers", "value": "content-type,authorization,apikey" },
            { "name": "Vary", "value": "Origin" }
          ]
        }
      }
    },
    {
      "id": "OpenAI_Chat",
      "name": "OpenAI (Chat)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "operation": "chatCompletion",
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是古诗词助手。要求：\\n- 用简体中文回答\\n- 内容贴合诗词主题，尽量提供出处/作者（如果明确）\\n- 可做意境赏析、风格对比、名句解析\\n- 避免编造不存在的诗句，不确定则说明不确定\\n- 输出简洁清晰"
            },
            {
              "role": "user",
              "content": "={{$json.message}}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "Respond_Main",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 300],
      "parameters": {
        "responseCode": 200,
        "responseData": "={{ { reply: $json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content ? $json.choices[0].message.content : ($json.data || \"（未得到回复，请检查 OpenAI 输出）\") } }}",
        "responseHeaders": {
          "entries": [
            { "name": "Access-Control-Allow-Origin", "value": "={{$headers.origin}}" },
            { "name": "Access-Control-Allow-Methods", "value": "GET,POST,OPTIONS" },
            { "name": "Access-Control-Allow-Headers", "value": "content-type,authorization,apikey" },
            { "name": "Vary", "value": "Origin" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook (POST/OPTIONS)": {
      "main": [
        [
          { "node": "Is OPTIONS?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is OPTIONS?": {
      "main": [
        [
          { "node": "Respond CORS (OPTIONS)", "type": "main", "index": 0 }
        ],
        [
          { "node": "OpenAI (Chat)", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI (Chat)": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "version": 1,
  "meta": { "instanceId": "poem-chat-assistant-openai-simple" },
  "settings": {},
  "staticData": {}
}